@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.div {
  @apply -z-10  text-white w-full h-screen;
}

.spaceship-div {
  @apply -z-10 sticky top-0 w-full h-screen text-black text-center mb-28 bg-white;
}

.spacesuit-div {
  @apply -z-10 sticky top-0 w-full h-screen overflow-hidden  bg-white text-black text-center mb-28;
}

.child-div-spaceship {
  @apply mb-28 -z-10 sticky top-0  grid grid-cols-2 tracking-[.30rem] md:tracking-[.35rem] lg:tracking-[.45rem] text-black bg-black text-center
   text-sm md:text-2xl lg:text-4xl;
}

.child-div-spaceship-h1 {
  @apply font-normal font-Raleway my-auto text-white text-xs md:text-sm lg:text-base;
}

.h1 {
  @apply font-bold font-ElMessiri tracking-widest pt-8 pl-8 md:pt-16 md:pl-16 lg:pt-24 lg:pl-16 text-2xl md:text-6xl lg:text-7xl;
}

.h1-spaceship {
  @apply font-ElMessiri tracking-widest text-sm md:text-xl lg:text-3xl pt-32;
}

.h1-spacesuit {
  @apply font-ElMessiri tracking-[.45rem] text-sm md:text-xl lg:text-3xl mt-12 mb-12 lg:mb-10;
}

.h1-location {
  @apply font-ElMessiri tracking-wide pt-8 md:pt-16 lg:pt-12 text-sm md:text-xl lg:text-3xl mb-20 md:mb-40 lg:mb-4
  text-white;
}

.h1-review {
  @apply font-ElMessiri tracking-wide pt-8 md:pt-16 lg:pt-12 text-3xl md:text-5xl lg:text-7xl 
  text-black;
}

.p {
  @apply font-normal font-Raleway tracking-[0.15rem] md:tracking-[0.3rem] mx-8 md:mx-16 mt-24 md:mt-48 lg:mt-32
   leading-8 md:leading-[3rem] lg:leading-[5rem] text-center text-xs md:text-sm lg:text-base;
}

.p-home {
  @apply absolute top-[40%] font-extralight font-Raleway text-white tracking-[1.5rem] 2xl:tracking-[3rem]
   text-2xl md:text-7xl lg:text-9xl 2xl:text-[13rem];
}

.p-why {
  @apply font-normal font-Raleway tracking-widest  md:tracking-[.35rem] lg:tracking-[.45rem]  mb-40 mx-4 lg:mb-28 text-sm md:text-xl lg:text-4xl;
}

.p-spacesuit {
  @apply font-normal font-Raleway h-screen tracking-[0.075rem] md:tracking-[0.20rem] leading-4 md:leading-6 lg:leading-8 mt-6 md:mt-auto
  text-xs md:text-sm lg:text-base 2xl:text-2xl mx-4;
}

.location-div {
  @apply -z-0 sticky top-0 text-white w-full h-screen text-center mb-28 bg-black;
}

.review-div {
  @apply z-10 sticky top-0 w-full h-screen bg-white text-center mb-28  
  grid grid-cols-4 text-sm md:text-xl lg:text-3xl;
}

.contact-div {
  @apply z-10 sticky top-0 font-normal font-Raleway tracking-widest bg-white
 w-full h-screen text-center text-2xl lg:text-4xl -mb-60;
}

.contact-img {
  @apply w-10 h-10 inline-block mx-4 hover:scale-125 duration-500;
}

.plus-two {
  background-size: 300%;
  animation: gradient 10s infinite alternate;
}

@keyframes gradient {
  0% {
    background-position: left;
  }
  25% {
    background-position: right;
  }
  50% {
    background-position: left;
  }
  75% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
